<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main_page.css') }}" />
  <title>Subscription Manager</title>
</head>
<body>
  <h1 id="title">Subscription Manager</h1>

  <div id="container">
    <p class="description">
      Subscription Manager looks at your active subscriptions and helps track them for you.
      Easily manage what you pay for each month and get rid of subscriptions you don't use!
    </p>

    <form action="/login" method="post" id="login-form">
      <label for="customer">Enter Your Name:</label>
      <input type="text" id="customer" name="customer" placeholder="Chris" required />
      <label for="bank">Enter Your Bank Account:</label>
      <input type="text" id="bank" name="bank" placeholder="Enter Bank Number" required/>
      <input type="submit" value="View Subscriptions" />
    </form>
  </div>

  <div id="container">
    <p class="errorbox">
      {{ error_msg }}
    </p>
  </div>

  <img src="{{ url_for('static', filename='images/Subscription-Services.jpg') }}" alt="Subscription Banner" id="pic" />
</body>
</html>

</html>
