<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main_page.css">
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <title>Subscription Manager</title>
</head>

<body>
    <h1 id="title">Subscription Manager</h1>
    <p>Description: Subscription Manager looks at your active subscriptions through your bank account and helps track them for you!
        it makes it easy for you to manage your subscriptions and get rid of unused subscriptions. To get started
        enter in your bank account and name in the box below.
    </p>


    <form action="{{ order_summary_reference }}" method="POST" id="bank_account_div">
        <h1>Enter your name and bank account here</h1>
        <label for="bank_account"> Bank Account: </label>
        <input type="text" id="bank_account" name="bank_account" placeholder="Enter Bank Account">
        <input type="Submit" value="Submit Bank Account" id="bank_account_id"><br><br>
        <label for="customer"> Customer Name: </label>
        <input type="text" id="customer" name="customer" placeholder="Enter Name">
        <input type="Submit" value="Submit Name" id="submit_order_id">
    </form>
        <img src="Subscription-Services.jpg" alt="" id="pic">
</body>

</html>
