<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/sub_page.css">
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <title>Subscriptions</title>
</head>

<body>
    <h1 id="title">Subscription Page</h1>
    <p>View your subscriptions below.
    </p>


    <table style="width:100%">
        <tr>
          <th>Service</th>
          <th>Price per Month (USD)</th>
          <th>Renewal Date</th>
          <th>Total pay cycles</th>
          <th>Total spent</th>
        </tr>
        <tr>
          <td>x</td>
          <td>x</td>
          <td>x</td>
          <td>x</td>
          <td>x</td>
        </tr>
        <tr>
          <td>x</td>
          <td>x</td>
          <td>x</td>
          <td>x</td>
          <td>x</td>
        </tr>
    </table>
</body>

</html>
