<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/sub_page.css') }}" />
  <title>Subscriptions</title>
</head>
<body>
  <h1 id="title">Subscriptions for {{ user_name }}</h1>
  <p>View your subscriptions below.</p>
  <body>
  <h1 id="title">Subscriptions for {{ user_name }}</h1>
  <p>View your subscriptions below.</p>
    
  <form action="/login" method="POST" value = "sort">
    <label for = "types">View Subscriptions by Type</label>
    <select name="types" id="types">
      <option value="All">All</option>
      <option value="Entertainment">Entertainment</option>
      <option value="Productivity">Productivity</option>
      <option value="Games">Games</option>
      <option value="Utility">Utility</option>
      <option value="Other">Other</option>
    </select>
    <button type="submit" name="action">Submit</button>
  </form>
    
  <table style="width:100%">
    <tr>
      <th>Service</th>
      <th>Type</th>
      <th>Price per Month (USD)</th>
      <th>Usage Time (Hours)</th>
    </tr>

    {% for sub in subscriptions %}
    <tr>
      <td>{{ sub.name }}</td>
      <td class="type {{ sub.type|lower }}">{{ sub.type }}</td>
      <td>${{ "%.2f"|format(sub.price) }}</td>
      <td>{{ sub.usage }}</td>
    </tr>
    {% endfor %}
  </table>
</body>
</html>
